# Forzar versiones específicas para evitar warnings
legacy-peer-deps=true
strict-peer-dependencies=false
package-lock=true

# Resolver dependencias deprecadas
resolution=glob@^10.3.10
resolution=rimraf@^5.0.5
